%h1 Users

%table
  %tr
    %th Name
    %th Today
    %th Week
    %th Month

  - for user in @users 
    %tr
      %td= link_to user.name, user
      %td= user.leads.today.size
      %td= user.leads.week.size
      %td= user.leads.month.size
      
-if user_signed_in?
  =link_to "Sign Out", destroy_user_session_path
-else
  =link_to "Create New User", new_user_registration_path